.header {
    background-color: #E01414;
    height:15vh;
    width: 101vw;
    margin-left: -1vw;
    margin-top: -10px;
}

.headerTitle {
    font-size: 72px;
}

.title {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.bubble {
    background-color: #DEDC37;
    width: 100%;
    height: 50%;
    border-radius: 30px;
    margin-bottom: 5%;
    text-align: center;
}

.image {
    width: 20vw;
    height: 30vh;
    margin-bottom: 10px;
}

.mainContent {
    position: relative;
    display: inline;
    justify-content: center;
    width:100vw;
    height: 70vh;
}

.root {
    background-color: #8F9111;
}

.home {
    margin-left:2%;
}